$tableColor: #F4F2F2;
$buttonColor: #5495C4;
$lightColor: #fff;
$baseColor: #102131;
$circleBorder: #3D5E7E;
$linkColor: #8FBAD9;
$modalBorder: #ABABAB;
$font-family-text: Helvetica, sans-serif;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;